/* Reset default browser styles */
body,
h1,
h2,
p,
ul,
li {
    margin: 10px;
    padding: 0;
    text-align: center;
}

/* Global styles */
body {
    font-family: Arial, sans-serif;
    line-height: 1.5;
    background-color: green;
    color: #333;
}

header {
    background-color: gold;
    padding: 10px;
    /*position: sticky;
    top: 0;
    z-index: 100;*/
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    text-transform: uppercase;
}

nav ul li a:hover {
    text-decoration: underline;
}

section {
    padding: 20px;
    background-color: #fff;
    margin-bottom: 20px;
}

h1,
h2 {
    color: #333;
    margin-bottom: 10px;
    text-align: center;
}

h2 {
    font-size: 24px;
}

p {
    margin-bottom: 10px;

}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}


/* image sizing and placement */

img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

/* Responsive styles */
@media screen and (max-width: 768px) {
    header {
        text-align: center;
    }

    nav ul li {
        display: block;
        margin-bottom: 5px;
    }

    section {
        padding: 10px;
    }

    h1 {
        font-size: 28px;
    }

    p {
        font-size: 16px;
    }
}

@media screen and (max-width: 480px) {
    h1 {
        font-size: 24px;
    }

    p {
        font-size: 14px;
    }
}